
* {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
}

.gradient-startup {
    background: linear-gradient(135deg, #0ea5e9 0%, #06b6d4 100%);
}

.modal-hide {
    display: none;
}

.modal-hide.open {
    display: flex;
}